# Unity Generated
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools*

# VS Code / MonoDevelop Generated
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# OS Generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
